.nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding-inline: 60px;
}
ul{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}
.style{
    display: flex;
    gap: 40px;
}
ul .style a{
    text-decoration: none;
    color: black;
}
.user{
    display: flex;
    gap: 40px;
    align-items: center;
}
.user .sign-in button{
    height: 40px;
    width: 90px;
    border: 1px solid #1818A6;
    background-color: white;
    color: #1818A6;
}
.user .sign-up button{
    height: 40px;
    width: 90px;
    border: 1px solid #1818A6;
    background-color: #1818A6;
    color: white;
}

